{% extends 'base-home.html' %}

{% block content %}
<div class="container-fluid cube-background">
    <div class="row d-flex justify-content-center">
        <div class="card m-3 col-10">
            <div class="card-body">
                <h1 class="card-title">How to use TaskODrill</h1>
                <div class="card-text">
                    <p>
                        Maybe sometimes you forget to do important tasks or, maybe, you just have that strong feeling.
                        Maybe
                        you spend a lot of time just choosing what is the next task you have to do. Maybe sometimes you
                        feel stressed or overwhelmed by that.
                    </p>

                    <p>
                        In the last 20 years, task management methodologies have been developed which help you to have
                        <a href="https://gettingthingsdone.com/2012/05/david-allen-defines-mind-like-water/">mind like
                            water</a> and experience <a href="https://en.wikipedia.org/wiki/Flow_(psychology)">flow</a>.
                        These methodologies help you to be in control of your tasks, focused, and completely comfortable
                        knowing which is the next task you have to do, while being confident that you are not forgetting
                        anything.
                    </p>

                    <p>
                        TaskODrill is a tool based on those popular task management methodologies. It helps you to
                        take control of the tasks you have to do everyday. It helps you to choose what is the next
                        task you have to do. It also helps you experience flow when you are
                        working on your pending tasks.
                    </p>

                    <p>
                        TaskODrill is not magic. At the same time that you start using TaskODrill, you will have to add
                        or change some habits to your life, in the form of a workflow.
                    </p>

                    <h2>Workflow</h2>

                    <p>
                        You have to start writing down anything that crosses your mind during the day, and that you
                        cannot discard, because you have to do something with it. You can write it on a
                        small notepad, a piece of paper, in a mobile app or wherever you want. I use Evernote for this.
                        This special place is called "Inbox". What you write on your Inbox are raw ideas, without any
                        processing. Just the idea, as fast as possible. It is important to be fast because this step
                        is where a lot of people fail because they are slow writing down the ideas, and stop doing it.
                        This process is called the Capture phase. During the Capture phase, you write down in your Inbox
                        everything that
                        crosses your mind during the day and that you have to do something with it later. The Capture
                        phase is a habit. It is not
                        easy if you are not already doing it. But it is absolutely essential for this workflow to word
                        and experience flow.
                    </p>
                    <p>
                        Multiple times a day, you have to sit down and review your Inbox. You have to go item by item
                        and think what you have to do with it. If you don't have to do anything with it, you can delete
                        it (if you are not
                        going to need it anymore) or store it (if you could need it in the future). If you have to act
                        on it, this
                        is where TaskODrill comes into play. If you have to act on it, you have to open TaskODrill,
                        click on
                        <a href="{% url 'task_list_tasklist' 'nextactions' %}">Next Actions</a> and
                        click
                        on New Task. There you have to create the task. This step is crucial because depending on how
                        you
                        introduce
                        the task, it will be sorted for you for the future. I recommend that you introduce the name of
                        the task
                        with
                        enough information, including interesting links. In my case I introduce emails as tasks, for
                        acting on
                        them
                        in the future. I treat my email Inbox as another part of my Inbox, and I process every email as
                        an idea that I have written down in my Inbox. I put in the name the link to the email (I use
                        Gmail). In the future, when I
                        execute the
                        task, I will have there all the relevant information, including the link to the email.
                    </p>
                    <p>
                        If you cannot start the task until a moment in the future, I introduce that day in the future as
                        the start date. I introduce
                        start time only if it is relevant. I almost never use it. Don't put a start time in the
                        future if you
                        don't have time today for doing the task. That is not why use start time. If you didn't have any
                        other
                        task, would you be able to do the task? If the answer is yes, don't put a start date. If even in
                        that case you
                        couldn't do the task, put the start date.
                    </p>
                    <p>
                        Then put due date (and due time) if the task has a deadline. A real deadline, not a "I would
                        like to do
                        this
                        task before this date deadline". Why? This is how modern task management methodologies work. It
                        is
                        better to not overschedule your tasks because your schedule changes too much and if you
                        overorganize them you are much less efficient.
                    </p>

                    <p>
                        If the task is a task that has to be repeated, use the Repeat and "Repeat from" fields.
                    </p>
                    <p>
                        Lenght is not used currently for anything. I plan to use it to implement a Planner in the
                        future.
                    </p>
                    <p>
                        Also the Priority is not used currently for anything. I recommend you to not use it. Maybe you
                        think I'm crazy because you thought that you were doing this to prioritize your tasks. Yes and
                        no. Your tasks
                        will be prioritize by other means. Mainly, using the due date. All tasks with due date will be
                        shown at the top of
                        the list and sorted by the due date. That's the reason why you don't have to put due dates if
                        they are not
                        real. You only have to put due dates when really really you have to have the task done before
                        that date. If
                        that is true, you will be grateful to have that tasks at the top of your list and finish them as
                        soon as possible.
                    </p>
                    <p>
                        You also can choose a Project. In TaskODrill, Projects are just groups of tasks. If an "idea"
                        from the Inbox is more like a group of tasks, create a project and put all the tasks related
                        within the project.
                        Only the first task of the project will be shown in the next actions list. Then you do it, the
                        next task in the
                        project will be shown in the next actions list.
                    </p>
                    <p>
                        The Task List field is important. If the task you are entering doesn't need to be done this
                        week, put it in the Task List Someday/Maybe. That task won't be shown in the Next Actions list.
                        You don't want to
                        have in your Next Actions lists actions you don't want to do. You really want that the action on
                        top of the Next
                        Actions list is an actionable task that you want and need to do right now. That's how you reach
                        mind like water.
                        If you introduce the tasks using these steps and filing them correctly, you will have at the top
                        of
                        your Next Actions lists the correct next task that you have to do. You don't have to worry about
                        forgetting
                        anything. If you capture anything, it will be in your Inbox. Each day when you process your
                        Inbox, you add all
                        tasks to TaskODrill and you will see them when you need to see them, neither before, nor after.
                    <p>
                    <p>
                        If the action is a next action, just add it to the Next Action Task List.
                    </p>
                    <p>
                        If it is something just to store, put it in Reference Material.
                    </p>
                    <p>
                        Last, but also crucial, you have to choose which contexts are relevant for this task. Context
                        mean moments, places, people or other items where or when you have to be reminded of a task. For
                        example, if I
                        want to have this task in front of me when I talk with my brother, I add my brother as a context
                        and add this
                        context to the task. When I talk with my brother, I go to this context and see all the tasks I
                        wanted to talk
                        with him. A task is not only a "task", it is anything you have to do like "Ask John if he works
                        next Friday"
                        (context @john). Add as many contexts as you want, but remember that the task will be shown to
                        you when you are at
                        that context.
                    </p>
                    <p>
                        Each day you have to review your Inbox and Clarify all the ideas there, converting them to tasks
                        and
                        adding
                        them
                        to TaskODrill, storing them or deleting and forgetting them.
                    </p>
                    <p>
                        You have done the 2 first phases of the methodology. Until this moment you haven not done any
                        task. When
                        you
                        are
                        capturing, don't clarify tasks. Just add them to your Inbox. When you clarify, don't execute any
                        task.
                        Don't.
                        Don't mix phases. If you start executing tasks before finishing the Clarifying phase, you will
                        have in
                        your
                        Inbox ideas not processed and you won't arrive to mind like water. Each time you clarify it is
                        crucial
                        that
                        you
                        empty your Inbox. Yes. Your Inbox must be empty when you finish your Clarifying phase.
                    </p>
                    <p>
                        When you have finished Clarifiying, you can start the third and most important phase, Execution.
                        In this
                        phase
                        you go to Next Actions menu and start working on the first task, at the top of the list. If
                        something is
                        wrong,
                        it is because you did the clarifying phase wrong. Fix the error and continue. Work on the first
                        task on
                        the
                        list. When you have finished it, think which is the next action that follows the task that you
                        have
                        finished. If
                        there is a next action, just add it to TaskODrill. If not, just mark it as done and continue
                        with the
                        next
                        task.
                    </p>
                    <p>
                        This must be your routine. Capture during all the day. One, twice or the number of times you
                        need during
                        the
                        day, clarify your Inbox and convert the items there to tasks. Execute the tasks on TaskODrill.
                    </p>
                    <h2>Weekly Review</h2>
                    <p>
                        Once a week, you have to review all the system. Review all the projects. Review all the
                        context. Review all the task lists. Move tasks, change information, whatever you need to take
                        control of your system again. During the week it is easy that sometimes you loose a bit of
                        control because you forget to add something to the Inbox or you forgot to add a next action
                        before marking another task as done. With this review, you find gaps in the system. Gaps that
                        maybe are occupying your mind and don't let you relax. You have to add those loose ends to the system and take control of them.
                    </p>

                    <h2>Conclusion</h2>

                    <p>
                        I just briefly introduced you to how I work with TaskODrill. My workflow is mostly based on GTD,
                        that is
                        a
                        well
                        known task management methodology. I strongly recommend you that you read the book Getting
                        Things Done
                        to
                        know
                        more about the methodology.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}