{% extends 'base-home.html' %}

{% block content %}
<div class="container-fluid cube-background">
    <div class="row d-flex justify-content-center">
        <div class="card col-3 m-5 shadow">
            <div class="card-body">
                <h3 class="card-title">Free</h3>
                <div class="card-text">
                    <p>0 €</p>
                    <p>
                        This is the only plan currently available. The idea is to gather your feedback and use it for developing a solution that is worth paying for. Please, give us any feedback you may have.
                    </p>
                    <p>
                        <a class="btn btn-primary" href="{% url 'signup' %}">Sign Up!</a>
                    </p>
                    <span>Free features:</span>
                    <ul>
                        <li>Unlimited tasks</li>
                        <li>Recurring tasks</li>
                        <li>Projects</li>
                        <li>Contexts</li>
                        <li>Basic support</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card col-3 m-5 shadow">
            <div class="card-body">
                <h3 class="card-title">Standard</h3>
                <div class="card-text">
                    <p>??? € (not available yet)</p>
                    <span>To be defined</span>
                </div>
            </div>
        </div>
        <div class="card col-3 m-5 shadow">
            <div class="card-body">
                <h3 class="card-title">Advanced</h3>
                <div class="card-text">
                    <p>??? € (not available yet)</p>
                    <span>To be defined</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}