{% extends "base.html" %}

{% block content %}
<h1>Ideas</h1>
<p>You have <span id="user_avaible_votes">{{ user.available_votes }}</span> votes available for this month.</p>
<p>
  <a class="btn btn-primary" href="{% url 'idea_add' %}">New idea</a>
</p>
{% if idea_list %}
<table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Date of creation</th>
      <th>Number of votes</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="ideas_body">
    {% for idea in idea_list %}
    <tr id="ideas_row_{{ idea.id }}">
      <td>{{ idea.title }}</a></td>
      <td>{{ idea.description }}</td>
      <td>{{ idea.get_priority_display }}</td>
      <td>{{ idea.get_status_display }}</td>
      <td>{{ idea.creation_datetime }}</td>
      <td id="idea_votes_{{ idea.id }}">{{ idea.votes.count }}</td>
      <td><button type="button" class="btn btn-primary" value="{{ idea.id }}">Vote</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>There are no ideas.</p>
{% endif %}
{% endblock %}