Django==6.0.1
django-autocomplete-light
django-crispy-forms
crispy-bootstrap4
django-debug-toolbar
django-heroku
gunicorn
holidays
psycopg2
python-dotenv
pytz
requests
selenium
six
webdriver-manager
websocket-client
wheel
whitenoise
