{% extends 'base-login.html' %}

{% block content %}
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        Log In
      </div>
  
      <!-- Login Form -->
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" id="submit_button" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="{% url 'password_reset' %}">Forgot Password?</a>
      </div>
  
    </div>
  </div>
  {% endblock content %}