{% extends 'base-home.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid cube-background">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="card m-3">
                <div class="card-body shadow">
                    <h3 class="card-title">Sign Up</h3>
                    <p class="card-text">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary mr-3" type="submit">Sign up</button>
                        <a href="{% url 'home' %}">Cancel</a>
                    </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}