{% extends "base.html" %}

{% block content %}
    <h1>{{ assignee.name }}</h1>
    <p><a href="{% url 'assignee_update' assignee.pk %}">Edit</a>
    <p>
        <a id="new_task_button" class="btn btn-primary" href="{% url 'task_add' %}?assignee_id={{ assignee.id }}&next={{ assignee.get_absolute_url }}">New task</a>
    </p>
    
    <h2>Tasks in assignee</h2>
    {% if assignee.task_set.count == 0 %}
    <p>This assignee does not have tasks.</p>
    {% else %}
        {% include 'tasks/tasks_table.html' with task_list=assignee.pending_tasks.all %}
    {% endif %}
{% endblock %}
