{% extends "base.html" %}

{% block content %}
    <p>
      <a id="new_context_button" class="btn btn-primary" href="{% url 'context_add' %}">New context</a>
    </p>
    {% if context_list %}
    <table class="table table-hover table-sm">
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
      {% for context in context_list %}
      <tr id="context_row_{{ context.id }}">
        <td><a href="{{ context.get_absolute_url }}">{{ context.name }}</a></td>
        <td><a href="{% url 'context_delete' context.pk %}" class="confirm-delete"><img src="/static/tasks/trash-2.svg" /></a></td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>There are no contexts.</p>
    {% endif %}       
{% endblock %}
