{% extends "base.html" %}

{% block content %}
    <h1>Dashboard</h1>
    <ul>
        <li>Number of Next Actions <img src="/static/tasks/help-circle.svg" width="12" data-toggle='tooltip' title='David Allen says that people usually have between 50 and 100.' />: {{ num_next_actions }}</li>
        <li>Number of Projects: {{ num_projects }}</li>
        <li>Number of Next Actions in Projects: {{ num_next_actions_in_projects }} (Avg of {{ avg_nas_per_proj|floatformat:2 }} per project)</li>
        <li>Number of items in Someday/Maybe: {{ num_someday_maybe_items }}</li>
        <li>Number of Contexts: {{ num_contexts }} (Avg of {{ avg_nas_per_con|floatformat:2 }} per context)</li>
    </ul>
    <h2>Tasks done per week</h2>
    <ul>
        <li><a href="{% url 'task_list_done' %}?from={{ start }}&to={{ end }}">{{start}} - {{end}}</a></li>
        <li><a href="{% url 'task_list_done' %}?from={{ start_7 }}&to={{ end_7 }}">{{start_7}} - {{end_7}}</a></li>
        <li><a href="{% url 'task_list_done' %}?from={{ start_14 }}&to={{ end_14 }}">{{start_14}} - {{end_14}}</a></li>
        <li><a href="{% url 'task_list_done' %}?from={{ start_21 }}&to={{ end_21 }}">{{start_21}} - {{end_21}}</a></li>
    </ul>
    <h2>Tasks done per quarter</h2>
    <ul>
        <li><a href="{% url 'task_list_done' %}?from={{start_of_q}}&to={{end_of_q}}">{{start_of_q}} - {{end_of_q}}</a></li>
        <li><a href="{% url 'task_list_done' %}?from={{start_of_q_minus_1}}&to={{end_of_q_minus_1}}">{{start_of_q_minus_1}} - {{end_of_q_minus_1}}</a></li>
    </ul>
{% endblock %}