<form action="{% url 'task_add' %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-row">
        <div class="form-group fieldWrapper col-md-10">
            {{ form.name.errors }}
            <label class="col-form-label-sm" for="{{ form.name.id_for_label }}">Name</label>
            {{ form.name }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group mr-2 fieldWrapper">
            {{ form.start_date.errors }}
            <label class="col-form-label-sm" for="{{ form.start_date.id_for_label }}">Start date</label>
            {{ form.start_date }}
        </div>
        <div class="form-group mr-2 fieldWrapper">
            {{ form.start_time.errors }}
            <label class="col-form-label-sm" for="{{ form.start_time.id_for_label }}">Start time</label>
            {{ form.start_time }}
        </div>
        <div class="form-group mr-2 fieldWrapper">
            {{ form.due_date.errors }}
            <label class="col-form-label-sm" for="{{ form.due_date.id_for_label }}">Due date</label>
            {{ form.due_date }}
        </div>
        <div class="form-group mr-2 fieldWrapper">
            {{ form.due_time.errors }}
            <label class="col-form-label-sm" for="{{ form.due_time.id_for_label }}">Due time</label><br>
            {{ form.due_time }}
        </div>
        <div class="form-group mr-2 fieldWrapper">
            {{ form.repeat.errors }}
            <label class="col-form-label-sm" for="{{ form.repeat.id_for_label }}">Repeat</label>
            {{ form.repeat }}
        </div>
        <div class="form-group mr-2 fieldWrapper">
            {{ form.repeat_from.errors }}
            <label class="col-form-label-sm" for="{{ form.repeat_from.id_for_label }}">Repeat from</label>
            {{ form.repeat_from }}
        </div>
        <div class="form-group mr-2 fieldWrapper">
            {{ form.length.errors }}
            <label class="col-form-label-sm" for="{{ form.length.id_for_label }}">Length</label>
            {{ form.length }}
        </div>
        <div class="form-group mr-2 fieldWrapper">
            {{ form.priority.errors }}
            <label class="col-form-label-sm" for="{{ form.priority.id_for_label }}">Priority</label>
            {{ form.priority }}
        </div>
        <div class="form-group mr-2 fieldWrapper">
            {{ form.project.errors }}
            <label class="col-form-label-sm" for="{{ form.project.id_for_label }}">Project</label>
            {{ form.project }}
        </div>
        <div class="form-group mr-2 fieldWrapper">
            {{ form.tasklist.errors }}
            <label class="col-form-label-sm" for="{{ form.tasklist.id_for_label }}">Tasklist</label>
            {{ form.tasklist }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group mr-2 fieldWrapper" style="min-width: 300px;">
            {{ form.contexts.errors }}
            <label class="col-form-label-sm" for="{{ form.contexts.id_for_label }}">Contexts</label>
            {{ form.contexts }}
        </div>
        <div class="form-group fieldWrapper">
            {{ form.note.errors }}
            <label class="col-form-label-sm" for="{{ form.note.id_for_label }}">Note</label>
            {{ form.note }}
        </div>
    </div>
    <div id="submit_div">
        <input type="submit" value="Submit" />
    </div>
</form>