{% extends "base.html" %}

{% block content %}
    <h1>{{ project.name }}</h1>
    <p>
        <a id="edit_project_button" class="btn btn-primary" href="{% url 'project_update' project.pk %}">Edit</a>
    </p>
    <p>Tasks: <span id="tasks_count">{{ project.pending_tasks.count }}</span></p>
    <p>{{ project.description }}</p>
    {% if project.task_set.count == 0 %}
    <p>This project does not have tasks.</p>
    {% else %}
        {% include 'tasks/project_tasks_table.html' with task_list=project.pending_tasks.all %}
    {% endif %}
{% endblock %}
