{% extends "base.html" %}

{% block content %}
    <a href="{% url 'project_add' %}">New</a>
    {% if project_list %}
    <table border="1">
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
      {% for project in project_list %}
      <tr id="project_row_{{ project.id }}">
        <td><a href="{{ project.get_absolute_url }}">{{ project.name }}</a> ({{ project.task_set.count }} - {{ project.next_task.name }})</td>
        <td><a href="{% url 'project_delete' project.pk %}" class="confirm-delete"><img src="/static/tasks/trash-2.svg" /></a></td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>There are no projects.</p>
    {% endif %}       
{% endblock %}
