<tr id="tasks_row_{{ task.id }}">
  <td><input class="checkbox align-middle" type="checkbox" id="checkbox_{{ task.id }}" value="{{ task.id }}"></td>
  <td>{{ task.name|urlize }}</td>
  {% if task.project %}
  <td><a href="{{ task.project.get_absolute_url }}">{{ task.project.name }}</a></td>
  {% else %}
    <td>none</td>
  {% endif %}
  <td>{{ task.start_date | default_if_none:"no date"}}</td>
  <td>{{ task.start_time | default_if_none:"no time"}}</td>
  <td>{{ task.due_date | default_if_none:"no date"}}</td>
  <td>{{ task.get_repeat_display | default_if_none:"none" }}</td>
  <td><a href="{{ task.get_absolute_url }}"><img src="/static/tasks/eye.svg" width="18" /></a></td>
  {% if next %}
    <td><a href="{% url 'task_update' task.pk %}?next={{ next }}"><img src="/static/tasks/edit.svg" width="18" /></a></td>
  {% else %}
    <td><a href="{% url 'task_update' task.pk %}"><img src="/static/tasks/edit.svg" width="18" /></a></td>
  {% endif %}
  <td><a href="{% url 'task_delete' task.pk %}" class="confirm-delete"><img src="/static/tasks/trash-2.svg" width="18" /></a></td>
  <td>
    <select name="actions" id="actions">
      <option value="--">--</option>
      <option value="notthisweek_{{ task.id }}">Not This Week</option>
    </select>  
  </td>
</tr>