<tr id="tasks_row_{{ task.id }}" class="{% if task.is_time_constrained %}row-time-constrained{% endif %}">
  <td><input class="checkbox align-middle" type="checkbox" id="checkbox_{{ task.id }}" value="{{ task.id }}"></td>
  <td>{{ task.name|urlizetrunc:50 }}</td>
  {% if task.folder %}
  <td><a href="{{ task.folder.get_absolute_url }}">{{ task.folder.name }}</a></td>
  {% else %}
    <td>none</td>
  {% endif %}
  <td id="tasks_td_start_date_{{ task.id }}">{{ task.start_date | default_if_none:"no date"}}</td>
  <td id="tasks_td_start_time_{{ task.id }}">{{ task.start_time | default_if_none:"no time"}}</td>
  <td id="tasks_td_due_date_{{ task.id }}">{{ task.due_date | default_if_none:"no date"}}</td>
  <td>{{ task.get_repeat_display | default_if_none:"none" }}</td>
  <td>{{ task.get_priority_display | default_if_none:"none" }}</td>
  <td>{{ task.length | default_if_none:"none" }}</td>
  <td><a href="{% url 'task_remove_deadline' task.pk %}" class="remove-deadline"><img src="/static/tasks/empty.svg" width="18" /></a></td>
  <td><a href="{{ task.get_absolute_url }}"><img src="/static/tasks/eye.svg" width="18" /></a></td>
  {% if next %}
    <td><a href="{% url 'task_update' task.pk %}?next={{ next }}"><img src="/static/tasks/edit.svg" width="18" /></a></td>
  {% else %}
    <td><a href="{% url 'task_update' task.pk %}"><img src="/static/tasks/edit.svg" width="18" /></a></td>
  {% endif %}
  <td><a href="{% url 'task_delete' task.pk %}" class="confirm-delete"><img src="/static/tasks/trash-2.svg" width="18" /></a></td>
  <td><a href="{% url 'task_postpone' pk=task.pk ndays=1 %}" class="postpone"><img src="/static/tasks/skip-forward.svg" data-toggle='tooltip' title='Postpone to NBD.' width="18" /></a></td>
  <td><a href="{% url 'task_postpone' pk=task.pk ndays=2 %}" class="postpone2"><img src="/static/tasks/fast-forward.svg" data-toggle='tooltip' title='Postpone to 48h+NBD.' width="18" /></a></td>
  <td>
    <div class="btn-group dropleft">
      <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent" src="/static/tasks/chevron-down.svg" width="18" />
      <div class="dropdown-menu move-to-tasklist" aria-labelledby="dropdownMenuReference">
        <button class="dropdown-item" type="button" value="notthisweek_{{ task.id }}">Not This Week</button>
        <button class="dropdown-item" type="button" value="nextaction_{{ task.id }}">Next Action</button>
        <button class="dropdown-item" type="button" value="someday_{{ task.id }}">Someday/Maybe</button>
      </div>
    </div>
  </td>
</tr>