<table id="tasks_table" border="1">
    <thead>
      <tr>
        <th></th>
        <th>Task</th>
        <th>Start date</th>
        <th>Start time</th>
        <th>Due date</th>
        <th>Repeat</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="tasks_body">
      {% for task in task_list %}
      <tr id="task_row_{{ task.id }}">
        <td><input class="checkbox" type="checkbox" id="checkbox_{{ task.id }}" value="{{ task.id }}"></td>
        <td><a href="{{ task.get_absolute_url }}">{{ task.name }}</a></td>
        <td>{{ task.start_date | default_if_none:"No date"}}</td>
        <td>{{ task.start_time | default_if_none:"No time"}}</td>
        <td>{{ task.due_date | default_if_none:"No date"}}</td>
        <td>{{ task.get_repeat_display | default_if_none:"None" }}</td>
        <td><a href="{% url 'task_update' task.pk %}">Edit</a></td>
        <td><a href="{% url 'task_delete' task.pk %}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>