{% extends "base.html" %}

{% block content %}

<h1>New task</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-row">
        <div class="form-group fieldWrapper col-md-10">
            {{ form.name.errors }}
            <label class="col-form-label-sm" for="{{ form.name.id_for_label }}">Name</label> <img src="/static/tasks/help-circle.svg" width="12" data-toggle='tooltip' title='Name of the task. URLs will be clickable.' />
            {{ form.name }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group mr-2 fieldWrapper">
            {{ form.start_date.errors }}
            <label class="col-form-label-sm" for="{{ form.start_date.id_for_label }}">Start date</label> <img src="/static/tasks/help-circle.svg" width="12" data-toggle='tooltip' title='The task will not be shown in the Next Actions list until this date.' />
            {{ form.start_date }}
        </div>
        <div class="form-group mr-2 fieldWrapper">
            {{ form.start_time.errors }}
            <label class="col-form-label-sm" for="{{ form.start_time.id_for_label }}">Start time</label> <img src="/static/tasks/help-circle.svg" width="12" data-toggle='tooltip' title='The task will not be shown in the Next Actions list until this time.' />
            {{ form.start_time }}
        </div>
        <div class="form-group mr-2 fieldWrapper">
            {{ form.due_date.errors }}
            <label class="col-form-label-sm" for="{{ form.due_date.id_for_label }}">Due date</label> <img src="/static/tasks/help-circle.svg" width="12" data-toggle='tooltip' title='It must be a real deadline. Used to sort the task in the Next Actions list.' />
            {{ form.due_date }}
        </div>
        <div class="form-group mr-2 fieldWrapper">
            <label class="col-form-label-sm">Next slack day</label>
            <p>{{ next_slack_day }}</p>
        </div>
        <div class="form-group mr-2 fieldWrapper">
            {{ form.due_time.errors }}
            <label class="col-form-label-sm" for="{{ form.due_time.id_for_label }}">Due time</label> <img src="/static/tasks/help-circle.svg" width="12" data-toggle='tooltip' title='It must be a real deadline. Used to sort the task in the Next Actions list.' />
            {{ form.due_time }}
        </div>
        <div class="form-group mr-2 fieldWrapper">
            {{ form.repeat.errors }}
            <label class="col-form-label-sm" for="{{ form.repeat.id_for_label }}">Repeat</label> <img src="/static/tasks/help-circle.svg" width="12" data-toggle='tooltip' title='If a schedule is set, when this task is marked as done, another task with the same attributes will be created based on the schedule.' />
            {{ form.repeat }}
        </div>
        <div class="form-group mr-2 fieldWrapper">
            {{ form.repeat_from.errors }}
            <label class="col-form-label-sm" for="{{ form.repeat_from.id_for_label }}">Repeat from</label> <img src="/static/tasks/help-circle.svg" width="12" data-toggle='tooltip' title='Date that will be taken as reference when creating a new task based on the Repeat attribute.' />
            {{ form.repeat_from }}
        </div>
        <div class="form-group mr-2 fieldWrapper">
            {{ form.length.errors }}
            <label class="col-form-label-sm" for="{{ form.length.id_for_label }}">Length</label> <img src="/static/tasks/help-circle.svg" width="12" data-toggle='tooltip' title='Length of the task. Currently not used.' />
            {{ form.length }}
        </div>
        <div class="form-group mr-2 fieldWrapper">
            {{ form.priority.errors }}
            <label class="col-form-label-sm" for="{{ form.priority.id_for_label }}">Priority</label> <img src="/static/tasks/help-circle.svg" width="12" data-toggle='tooltip' title='Priority of the task. Currently not used. The order of the tasks are based mostly on the Due Date.' />
            {{ form.priority }}
        </div>
        <div class="form-group mr-2 fieldWrapper">
            {{ form.project.errors }}
            <label class="col-form-label-sm" for="{{ form.project.id_for_label }}">Project</label> <img src="/static/tasks/help-circle.svg" width="12" data-toggle='tooltip' title='Project this task belongs to. Only first task of a project is shown in the Next Action list (sequential projects).' />
            {{ form.project }}
        </div>
        <div class="form-group mr-2 fieldWrapper">
            {{ form.blocked_by.errors }}
            <label class="col-form-label-sm" for="{{ form.blocked_by.id_for_label }}">Blocked by</label> <img src="/static/tasks/help-circle.svg" width="12" data-toggle='tooltip' title='The task will not be shown in the Next Actions list until the blocking task is done' />
            {{ form.blocked_by }}
        </div>
        <div class="form-group mr-2 fieldWrapper">
            {{ form.tasklist.errors }}
            <label class="col-form-label-sm" for="{{ form.tasklist.id_for_label }}">Tasklist</label> <img src="/static/tasks/help-circle.svg" width="12" data-toggle='tooltip' title='Task list where you want to put the task. The Next Action list is the actionable and main list.' />
            {{ form.tasklist }}
        </div>
        <div class="form-group mr-2 fieldWrapper">
            {{ form.folder.errors }}
            <label class="col-form-label-sm" for="{{ form.folder.id_for_label }}">Folder</label> <img src="/static/tasks/help-circle.svg" width="12" data-toggle='tooltip' title='Folder this task belongs to. Only first task of a folder is shown in the Next Action list (sequential folders).' />
            {{ form.folder }}
        </div>
        <div class="form-group mr-2 fieldWrapper">
            {{ form.goal.errors }}
            <label class="col-form-label-sm" for="{{ form.goal.id_for_label }}">Goal</label> <img src="/static/tasks/help-circle.svg" width="12" data-toggle='tooltip' title='Goal this task belongs to.' />
            {{ form.goal }}
        </div>
        <div class="form-group mr-2 fieldWrapper">
            {{ form.assignee.errors }}
            <label class="col-form-label-sm" for="{{ form.assignee.id_for_label }}">Assignee</label> <img src="/static/tasks/help-circle.svg" width="12" data-toggle='tooltip' title='Assignee assigned to this task.' />
            {{ form.assignee }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group mr-2 fieldWrapper" style="min-width: 300px;">
            {{ form.contexts.errors }}
            <label class="col-form-label-sm" for="{{ form.contexts.id_for_label }}">Contexts</label> <img src="/static/tasks/help-circle.svg" width="12" data-toggle='tooltip' title='Assign the contexts where you want to see this task. Type to search or create new contexts.' />
            {{ form.contexts }}
        </div>
        <div class="form-group fieldWrapper">
            {{ form.note.errors }}
            <label class="col-form-label-sm" for="{{ form.note.id_for_label }}">Note</label> <img src="/static/tasks/help-circle.svg" width="12" data-toggle='tooltip' title='Additional information about the task.' />
            {{ form.note }}
        </div>
    </div>
    <input type="hidden" id="next" name="next" value="{{ next }}">
    <div id="submit_div">
        <input type="submit" id="submit_button" value="Submit" />
    </div>
</form>

{% endblock %}