.jumbotron {
    background-image: url("/static/tasks/seashore.jpg");
    background-size : cover;
}

.handle {
    display    : inline-block;
    border-top : 2px solid var(--dark);
    width      : 20px;
    padding-top: 5px;
    cursor     : grab;
}

.handle:after,
.handle:before {
    display    : block;
    content    : "";
    padding-top: 5px;
    border-top : 2px solid var(--dark);
}

.handle:hover,
.handle:hover:before,
.handle:hover:after {
    border-color: var(--primary);
}

.handle:active,
.handle:active:before,
.handle:active:after {
    cursor: grabbing;
}


label {
    margin-bottom: 0;
}

.bg-my-blue {
    background-color: #BFD7F9;
}

.bg-my-meat {
    background-color: #F5F5F3;
}

li.active {
    background-color: white;
    font-weight     : bold;
}

.btn-primary {
    background-color: #004085 !important;
}